@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
/* .container{
    margin-top: 10rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    width: 500px;
    height: auto;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;




    
}
    
  } */
  
  
  
 .form_card {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 25px;
    width: 500px;
    height: auto;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
 }
  

 input[type=file], select {
    background: #fff;
    border: 1px solid rgba(39,41,43,.15);
    border-radius: 0.2857rem;
    padding: 0.67861em 1em;
    width: 100%;
 }

 .ui.form textarea{
     height:40px!important;
     min-height:45px!important;
 }

 
 /* Rating */

 .star-rating {
    
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2em;
    justify-content:flex-end;
    background: #fff;
    border: 1px solid rgba(39,41,43,.15);
    border-radius: 0.2857rem;
    padding: 0.57861em .3em;
    width: 100%;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
    margin:0 5px;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
  